<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ikisaki.www"
    android:versionCode="22"
    android:versionName="2.2" >

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="cf.google_maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--My Location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>

    <!--Maps API needs OpenGL ES2.0.-->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
        android:icon="@drawable/icon"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".BusnetActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".AddressSelect"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
                android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RouteSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".ShowMapActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".ShowMapByMapActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SocialMediaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

     		<intent-filter>
     	   		<category android:name="android.intent.category.DEFAULT" />
                	<data android:mimeType="text/plain" />
        		<action android:name="android.intent.action.SEND" />
   	 		</intent-filter>
        </activity>

         <activity
            android:name=".EventActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

         <activity
            android:name=".ByMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SocialMediaTab1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SocialMediaTab2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".SettingTab1Activity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

         <activity
            android:name=".SettingTab2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".SettingTab3Activity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PlatformActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".HistoryOrRegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".HistoryOrRegistrationTab1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".HistoryOrRegistrationTab2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SelectBusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ApplicationSharingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ResultOfRouteSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ikisaki.jp"
                    android:pathPrefix="/search/search"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bus.ike.tottori-u.ac.jp"
                    android:pathPrefix="/bus/search/search"
                    android:scheme="http" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SetTimeAndRouteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ShareRouteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".PassActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ikisaki.jp"
                    android:pathPrefix="/search/rosen"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RouteOfWalkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".TimeAndRouteTab1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".TimeAndRouteTab2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".TimeAndRouteTab3Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".TimeAndRouteTab4Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".TimeAndRouteTab5Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".TimetableSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SelectARideBusStopActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SelectAnAlightingBusStopActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
                android:name=".SetMapActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="SetMapActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="SettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".BusGuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OperationStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SpecifyPointActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="SpecifyPointActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SpecifyDestinationPointActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SetTheLineActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ResultOfTimetableSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CurrentPositionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".ShowMapRegistrationDestinationActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
        </activity>

        <activity
                android:name=".ShareRouteTab1FragmentActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
        </activity>

        <activity
                 android:name=".ShareRouteTab2FragmentActivity"
                 android:label="@string/app_name"
                 android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".SocialMediaTab3Activity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".InformationActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".TestActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
        </activity>

        <activity
                android:name=".HelloOrmliteActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
        </activity>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAA4GjyWCMSchWSzBh76Q3LaOdkU9T0NEY" />
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <uses-library android:name="com.google.android.maps" />

        <meta-data
                android:name="upsrv"
                android:value="http://192.168.232.17:81/android_landmark_db/" >
        </meta-data>
    </application>

</manifest>